body {
  font-family: 'Playwrite DE Grund', sans-serif;
  font-weight: 200;
  background-color: rgb(255,247,235);
  color: rgb(16,16,16);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

strong {
  font-weight: 400;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

 input,
 select {
  font-family: inherit;
  font-size: inherit;
  padding: 0.5rem;
}

input,
select,
button {
  font-family: 'Playwrite DE Grund', sans-serif;
}

.checkOrderButton {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 2px;
  background: rgb(248	147	69	);
  color: white;
  margin: 1rem 0;
}

.image-container {
  flex: 1;
  height: 100vh;
  position: relative;
  display: flex;
}

.image-container img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: relative;
  display: flex;
}

.img-pancakeboy img {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 70px;
  right: 10%;
  transition-timing-function: ease-in-out;
}

.price-banner {
  position: absolute;
  top: 163px;
  right: 10%;
  background-color: rgb(212	123	55	);
  color: white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.form-container {
  flex: 1;
  padding: 20px;
  position: relative;
}

.form-section {
  padding-top: 1.2rem;
}

.overlay {
  display: none; 
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.3);
}

.modal {
  background-color:  rgb(255,247,235);
  margin: 25% auto;
  padding: 20px;
  border: 2px solid rgb(212	123	55	);
  border-radius: 5px;
  width: 30%; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: relative;
}

.closeButton {
  position: absolute;
  top: 0.5rem;
  right: 1.5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 2px;
  background: rgb(248	147	69	);
  color: white;
  margin: 1rem 0;
}

.priceSummary {
  padding-top: 0.5rem;
}

.nameSummary {
  padding-top: 0.2rem;
}

@media screen and (max-width: 800px) {

  .container {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      width: 100%;
  }   

  .form-container {
      flex: 1;
      width: 100vw;
     
  }

  .image-container {
      flex: 1;
      width: 100vw;
  }

  .modal {
      width: 50vw;
  }

}